@media screen and (max-width : 799px) {
    nav ul .clos-btn {
        display: block;
    }
    nav .phone-view {
    display: block;
    cursor: pointer;
    }
    nav {
        padding: 0 30px;
        
    }
    
    nav ul {
        
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        right: 0;
        top :0 ; 
        background-color: rgb(249, 249, 249);
        height : 100vh ;
        width: 250px;
        padding: 70px 10px;
        font-size: 20px;
        display: none;
    }
    ul li {
        padding: 15px;
    }
    nav ul .clos-btn {
        position: absolute;
        top : 30px ; 
        left: 30px;
    }
    nav ul .clos-btn  i   {
        font-size: 35px;
    }
    nav .phone-view a {
        padding-right: 10px;
    }
    nav ul .cart-shop {
        display: none;
    }
} 
