@media screen and (max-width : 799px) {
    .header {
        padding: 0;
    }
    .header .ul {
        position: relative;;
    }
    .header  ul {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 300px;
        background-color: rgb(249, 249, 249);
        padding: 20px;
        height: 100vh;
    }
    .header ul li {
        padding: 20px;
    }
    .phone-view {
        display: block;
    }
    
}